{% load crispy_forms_tags %}  
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'users/css/logout_style.css' %}">
    
    <title>Odjava</title>
</head>
<body>
    <form class="main-form" method="POST">
        {% csrf_token %}
        <h1>Odjava?</h1>

        {{ form|crispy }}
        <button class="blue-btn submit-button">Odjava</button>
    </form>
</body>
</html>